*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Playlist+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Playlist+Script&display=swap");

:root{
    --color-fondo:#FDF5E6;
    --color-texto:#6E4228;
    --color-detalle-verde:#87A96B;

    --fuente-cuerpo: "Opens Sans";
    --fuente-titulos: "Montserrat";
}

header{
    background-color: var(--color-detalle-verde);

}
.logo img{
    height: 50px;
}