*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Playlist+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Brush+Script+Std&display=swap");

:root{
    --color-fondo:#FDF5E6;
    --color-texto:#6E4228;
    --color-detalle-verde:#87A96B;
    --color-btn-naranja: #d59b8d;
    --fuente-cuerpo: "Opens Sans";
    --fuente-titulos: "Montserrat";
    --sombra-botones-oscuro: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --sombra-botones-claro: rgba(255, 255, 255, 0.24) 0px 3px 8px;
    --margen-interna-secciones:50px;
}

header{
    background-color: var(--color-detalle-verde);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;

}

.logo img{
    height: 50px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color:var(--color-fondo);
    font-family:var(--fuente-titulos);
    font-weight: 600;
}

.boton-pedir a{
    text-decoration: none;
    padding: 10px;
    background-color:var(--color-btn-naranja);
    width: 180px;
    height: 40px;
    border-radius: 25px;
    display: flex;
    color: var(--color-fondo);
    justify-content: center;
    font-family:var(--fuente-titulos);
    font-weight: 600;
}

.hero{
    background-image: url("img/hero.jpg");
    height: calc(100vh - 74px);
    background-color: var(--color-fondo);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; /*Para que no se repita y no consuma recursos*/
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    h1{
        color: white;
        font-size: 2rem;
        text-transform: capitalize;
    }

    p{
        color: white;
        font-size: 1.6rem;
        text-transform: capitalize;
    }

    a{
        text-decoration: none;
        color: white;
        background-color: var(--color-btn-naranja);
        padding: 10px 30px;
        border-radius: 25px;
        box-shadow: var(--sombra-botones-claro);
    }
    .hero-botones{
        margin-top: 20px;
    }
}
.capa-oscura{
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 0;
}

.capa-textos{
    z-index: 1;
}

.rollos{
    background-color:var(--color-texto);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--margen-interna-secciones);
    color: var(--color-fondo);
    flex-wrap: wrap;
}

.rollos-contenido{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
    flex-wrap: wrap;
}

.rollos-descripcion{
    flex: 1;
    width: 100%;
    h2{
        font-family: var(--fuente-titulos);
        font-size: 4rem;
        line-height: 50px;
    }

    h3{
        font-family: var(--fuente-titulos);
        font-size: 1.5rem;
        margin: 20px 0;
    }

    a{
        text-decoration: none;
        color: white;
        background-color: var(--color-btn-naranja);
        padding: 10px 30px;
        border-radius: 25px;
        box-shadow: var(--sombra-botones-claro);
    }

}

.rollos-productos{
    flex: 2;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
}

.rollo-producto{
    border: 1px solid var(--color-btn-naranja);
    border-radius: 10px;
    background-color: var(--color-btn-naranja);
    overflow: hidden;
    img{
        width: 100%;
    }

}
.rollo-producto img{
    width: 100%;
}

.contenido-rollo{
    padding: 20px;
    font-family: var(--fuente-cuerpo);

    h2{
        text-align: center;
        font-size: 1.5rem;
        font-family: var(--fuente-titulos);
    }

    h3{
        font-size: 1.2rem;
        font-family: var(--fuente-titulos);
    }

    p{
        font-family: var(--color-texto);
        margin: 15px 0;
    }
    .precio{
        font-size: 1.5rem;
    }
    .precio a{
        text-decoration: none;
        color: var(--color-detalle-verde);
        background-color: var(--color-fondo);
        padding: 10px 10px;
        border-radius: 10px;
        text-align: center;
        font-size: 1rem;
    }
}

.rollos-ingredientes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
    
    .rollo-ingrediente{
    background-color: var(--color-detalle-verde);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    padding: 15px;
    border-radius: 0px 10px;
    margin-top: 15px;
    border-radius: 25px;
}
}

.menu-dia{
    background-color:var(--color-fondo);
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    padding: var(--margen-interna-secciones);
    color: var(--color-texto);
    h2{
        font-size: 3rem;
        font-family: var(--fuente-titulos);
    }
    .menu-items{
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .opcion-almuerzo{
        box-shadow: var(--sombra-botones-oscuro);
        padding: 20px;
        border-radius: 20px;
        text-align: left;
        width: 270px;
        img{
            border-radius: 10px;
            width: 100%;

        }

        ul{
            margin-left: 20px;
            margin-top: 10px;
            li{
                font-family: var(--fuente-cuerpo);
            }
        }
    }
}
.bowls{
    background-color:var(--color-detalle-verde);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: var(--margen-interna-secciones);
    color: var(--color-fondo);
    flex-wrap: wrap;

}

.bowl-titulo{
    flex: 1;
    margin-bottom: 10px;
    margin: var(--margen-interna-secciones);
    h2{
        font-family: var(--fuente-titulos);
        font-size: 4rem;
    }
}

.bowls-items{
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    display: flex;
}

.bowl-item{
    box-shadow: var(--sombra-botones-oscuro);
    padding: 20px;
    border-radius: 20px;
    text-align: left;
    width: 270px;
    height: 460px;
    border: 1px solid var(--color-texto);
    border-radius: 10px;
    background-color: var(--color-texto);
    overflow: hidden;
    flex-wrap: wrap;
    img{
        width: 230px;
    }
    p{
        font-family: var(--fuente-cuerpo);
    }
    
}

.enzalada-item{
    box-shadow: var(--sombra-botones-oscuro);
    padding: 20px;
    border-radius: 20px;
    text-align: left;
    width: 270px;
    height: 460px;
    border: 1px solid var(--color-texto);
    border-radius: 10px;
    background-color: var(--color-texto);
    overflow: hidden;
    flex-wrap: wrap;
    img{
        width: 230px;
        height: 230px;
    }
    p{
        font-family: var(--fuente-cuerpo);
    }

    
}

.precio{
        font-size: 1.5rem;
        margin-top: 10px;
        span{
            font-family: var(--fuente-cuerpo);
        }
        a{
            font-family: var(--fuente-cuerpo);
        }
    }
    .precio a{
        text-decoration: none;
        color: var(--color-detalle-verde);
        background-color: var(--color-fondo);
        padding: 10px 10px;
        border-radius: 10px;
        text-align: center;
        font-size: 1rem;
    }

.mensaje-alergenos{
    background-image: url("img/no-alergenos-no-conservantes.jpg");
    height: calc(100vh - 74px);
    background-color: var(--color-fondo);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; /*Para que no se repita y no consuma recursos*/
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    h2{
        color: white;
        font-size: 2rem;
        text-transform: capitalize;
        z-index: 1;
        margin-bottom: 10px;
        font-family: var(--fuente-titulos);
    }
    span{
        color: var(--color-fondo);
        margin: 10px;
        font-family: var(--fuente-cuerpo);
    }
}
.alergenos-item{
    z-index: 1;
}

.horarios{
    background-color:var(--color-texto);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--margen-interna-secciones);
    color: var(--color-fondo);
    h2{
        font-family: var(--fuente-titulos);
    }
    h3{
        font-family: var(--fuente-titulos);
    }
    p{
        font-family: var(--fuente-cuerpo);
    }
}
.horarios-area{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: var(--margen-interna-secciones);
}
.horarios-cocina{
    margin: var(--margen-interna-secciones);
    text-align: center;
}

.horarios-cafeteria{
    margin: var(--margen-interna-secciones);
    text-align: center;
}
.linea{
    font-size: 3rem;
}

.boton-ordenar{
    a{
        background-color: var(--color-texto);
        color: var(--color-fondo);
        text-decoration: none;
        padding: 10px 30px;
        border-radius: 25px;
        box-shadow: var(--sombra-botones-claro);
        font-family: var(--fuente-cuerpo);
    }
}
.nuestros-platos{
    background-color: var(--color-fondo);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: var(--margen-interna-secciones);
    color: var(--color-fondo);
    width: 100%;
    flex-wrap: wrap;
}

.platos-titulo{
    flex: 1;
    h2{
        font-family: var(--fuente-titulos);
        font-size: 4rem;
        color: #6E4228;
    }
}

.platos-galeria{
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap;
    img{
        width: 250px;
        height: 200px;
    }
}


